.sentMessageContainer {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 10px 8px 0px auto;
  max-width: 70%;
}

.sentMessageHeader {
  display: flex;
  flex-direction: column;
  float: right;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  min-width: 100px;
}

.sentMessage {
  text-align: left;
  padding: 8px;
  font-family: "roboto";
  color: #fff;
  background: #498efc;
  border-radius: 8px;
  width: 100%;
}

.receivedMessageContainer {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: flex-start;
  justify-content: flex-start;
  width: fit-content;
  max-width: 70%;
  margin-left: 8px;
  min-width: 100px;
}

.receivedMessageHeader {
  display: flex;
  flex-direction: column;
  float: left;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.receivedMessage {
  text-align: left;
  padding: 8px;
  font-family: "roboto";
  color: #000;
  background: #fff;
  border-radius: 8px;
  width: 100%;
  height: fit-content;

}
.receivedMessage p{
  margin: 2px;
}

.sentMessage p{
  margin: 2px;
}

.senderText {
  font-family: "roboto";
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 4px;
  margin-right: auto;
}

.senderTime {
  font-family: "roboto";
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin-left: auto;
  margin-bottom: 4px;
}
